config RTT_DIR
    string
    option env="RTT_ROOT"
    default "../../com/as.infrastructure/system/kernel/rtthread/rt-thread"

source "$ASROOT/com/as.infrastructure/system/kernel/rtthread/rt-thread/Kconfig"
source "$ASROOT/com/as.infrastructure/system/kernel/rtthread/menuconfig/aspkgs/Kconfig"
