source "$ASROOT/com/as.infrastructure/arch/posix/Kconfig"
source "$ASROOT/com/as.infrastructure/arch/versatilepb/Kconfig"
source "$ASROOT/com/as.infrastructure/arch/x86/Kconfig"
source "$ASROOT/com/as.infrastructure/arch/s3c2440a/Kconfig"
