menu "Operating System"

choice
	prompt "RTOS"
	default ASKAR

config ASKAR
	bool "askar:Automotive oSeK AutosaR/pthreads RTOS"

config SMALLOS
	bool "small OSEK BCC1 RTOS"

config RTTHREAD
	bool "rt-thread"

endchoice

if ASKAR
source "$ASROOT/com/as.infrastructure/system/kernel/askar/Kconfig"
endif

if RTTHREAD
source "$ASROOT/com/as.infrastructure/system/kernel/rtthread/menuconfig/Kconfig"
endif

endmenu
