choice
	prompt "Schedule Policy"
	default SCHED_BUBBLE

config SCHED_BUBBLE
	bool "bubble sort scheduler"

config SCHED_FIFO
	bool "fifo scheduler"

config SCHED_LIST
	bool "list scheduler"

endchoice
